
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  /* Set the background color and the background image */
 
  background-image: url("/public/bg.jpg");background-size: cover;
}
.logo{
  width: 40px;
  
}
.logoname{
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
  color: black;
  text-decoration: none;

}